<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Kamano Réservations</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto">
              <!-- Lien Accueil -->
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Accueil</a>
              </li>
              
              <!-- Lien Mes Réservations avec badge -->
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'my-reservations' %}">
                      Mes Réservations
                      <span class="badge bg-primary">
                          {{ request.user.reservations.count|default:0 }}
                      </span>
                  </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'my-waitlite' %}">File D'attente</a>
            </li>
          </ul>

          <!-- Affichage utilisateur (Connexion/Déconnexion) -->
          <ul class="navbar-nav">
              {% if request.user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account:logout' %}">Se déconnecter ({{ request.user.username }})</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account:login' %}">Se connecter</a>
                  </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
