{% extends "base.html" %}

{% block containt %}

<div class="row mt-4 d-flex justify-content-center align-items-center p-0 bg bg-white ">
    <form  method="post" class="py-3 px-0">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p class="alert alert-danger">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% csrf_token %}
        
        <!-- Boucle à travers les champs du formulaire -->
        {% for field in form %}
            <div class="form-group mb-3">
                {{ field.label_tag }} <!-- Affiche le label -->
                {{ field }} <!-- Affiche le champ de saisie -->
                
                <!-- Affiche les erreurs de validation associées au champ -->
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div>
        <button type="submit" class="btn btn-primary margin-auto">M'inscrire</button>
    </div>
    </form>
</div>

{% endblock %}
