{% extends "app/template.html" %}

{% block main %}

<style>
    /* Styles pour centrer le formulaire verticalement et horizontalement */
    body, html {
        height: 100%;
    }

    .form-container {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 500px;
        width: 100%;
        margin: auto;
    }

    .form-title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: #007bff;
        margin-bottom: 20px;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
        border: none;
    }

    .btn-custom:hover {
        background-color: #0056b3;
    }
</style>

<!-- Conteneur principal de Bootstrap pour centrer le formulaire -->
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="form-container">
        <h2 class="form-title">Réserver une Ressource</h2>
        
        <form method="post" action="{% url 'reserver' content_type resource.id %}">
            {% csrf_token %}
            <!-- Affichage des erreurs de formulaire générales -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <!-- Affichage des champs du formulaire avec les erreurs spécifiques -->
            <div class="form-group">
                {{ form.start_time.label_tag }}
                {{ form.start_time }}
                {% if form.start_time.errors %}
                    <div class="text-danger">{{ form.start_time.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.end_time.label_tag }}
                {{ form.end_time }}
                {% if form.end_time.errors %}
                    <div class="text-danger">{{ form.end_time.errors }}</div>
                {% endif %}
            </div>

            <input type="hidden" name="type" value="reservation">

            <!-- Bouton de soumission -->
            <div class="text-center">
                <button type="submit" class="btn btn-custom btn-block">Réserver</button>
            </div>
        </form>
    </div>
</div>


{% endblock main %}
